
.wrapper {
    padding: 30px;
    display: flex;
}

.wrapper > div {
    margin-right: 50px;
}

.active-task {
    background-color: aquamarine;
}

.error {
    border: red 1px solid;
}

.error-message{
    color: red;
}
.is-done{
    opacity: 0.6;
}
.tl-class {
    padding: 10px;
    border: 1px solid black;
}
.img {
    background-image: url(../img/Без\ названия.jpg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}