
.Ap {
    padding: 30px;
    display: flex;
}

.Ap > div {
    margin-right: 50px;
}

.active-task {
    background-color: aquamarine;
}

.error {
    border: red 1px solid;
}

.error-message{
    color: red;
}
.is-done{
    opacity: 0.6;
}